.Loader {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition-property: opacity;
  transition-timing-function: linear;
  z-index: 60;

  &.is-show {
    display: flex;
  }

  &.is-fadeIn {
    opacity: 1;
  }
}

.Loader__main {
  align-items: center;
  background-color: $color-ffffff;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba($color-000000, 0.05);
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.Loader__spinner {
  animation: loadSpinner 1.1s infinite linear;
  border-bottom: 1.1em solid rgba($color-00cbff, 0.2);
  border-left: 1.1em solid $color-00cbff;
  border-radius: 50%;
  border-right: 1.1em solid rgba($color-00cbff, 0.2);
  border-top: 1.1em solid rgba($color-00cbff, 0.2);
  font-size: 10px;
  height: 80px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  width: 80px;

  &::after {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
}

@keyframes loadSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
