.Modal {
  background-color: $color-ffffff;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05);
  margin: auto;
  max-width: 600px;
  width: calc(100vw - 40px);
}

.Modal__header {
  border-bottom: 1px solid $color-aaaaaa;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 12px;
  text-align: center;
}

.Modal__body {
  height: 360px;
  padding: 12px;
}

.Modal__bodyInner {
  height: 100%;
  overflow: auto;
}

.Modal__footer {
  border-top: 1px solid $color-aaaaaa;
  padding: 12px;
  text-align: right;
}

.Modal__buttons {
  display: inline-flex;
  margin: 0;
}

.Modal__buttonWrapper {
  list-style: none;

  & + & {
    margin-left: 12px;
  }
}
