// colors
$color-ffffff: #fff;
$color-ffefec: #ffefec;
$color-ffb74d: #ffb74d;
$color-ff7153: #ff7153;
$color-fb8c00: #fb8c00;
$color-fafafa: #fafafa;
$color-eeeeee: #eee;
$color-cccccc: #ccc;
$color-aaaaaa: #aaa;
$color-555555: #555;
$color-333333: #333;
$color-2196f3: #2196f3;
$color-1976d2: #1976d2;
$color-00cbff: #00cbff;
$color-00cbff: #00cbff;
$color-000000: #000;
